{% extends 'profiles/home.html' %}

{% block home_content %}

<div class="col-md-4">
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
         {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.old_password.errors }}
            <label for="{{ form.old_password.id_for_label }}" class="form-label">Старый пароль:</label>
            {{ form.old_password }}
        </div>
        <div class="mb-3">
            {{ form.password_one.errors }}
            <label for="{{ form.password_one.id_for_label }}" class="form-label">Новый пароль:</label>
            {{ form.password_one }}
        </div>
        <div class="mb-3">
            {{ form.password_two.errors }}
            <label for="{{ form.password_two.id_for_label }}" class="form-label">Повторите пароль:</label>
            {{ form.password_two }}
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>
{% endblock %}