{% extends 'base.html' %}

{% block content %}

<h2>Страница регистрации</h2>

<div class="col-md-4">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
         {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.errors }}
            <label for="{{ form.login.id_for_label }}" class="form-label">Логин:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password_one.errors }}
            <label for="{{ form.password_one.id_for_label }}" class="form-label">Пароль:</label>
            {{ form.password_one }}
        </div>
        <div class="mb-3">
            {{ form.password_two.errors }}
            <label for="{{ form.password_two.id_for_label }}" class="form-label">Повторите пароль:</label>
            {{ form.password_two }}
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}