{% extends "base.html" %}

{% block content %}

    <div class="col-md-4">
    <h2>Страница входа</h2>

        <form action="{% url 'login' %}" method='post'>
            {% csrf_token %}
            {{ login_form }}


                   <input type="submit" value="Submit">
        </form>

        </div>
        <div>
            <a href="{% url 'register' %}">
            <button class="nav-link rounded-5" id="register-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Регистрация</button></a>

        </div>


{% endblock %}