{% extends "base.html" %}

{% block content %}

    <div class="col-md-4">
    <h2>Страница входа</h2>

        <form action="{% url 'login' %}" method='post'>
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            <div class="mb-3">
                {{ login_form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                {{ login_form.username }}
            </div>
            <div class="mb-3">
                {{ login_form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Пароль:</label>
                {{ login_form.password }}
            </div>


                   <button type="submit" class="btn btn-primary">Войти</button>
        </form>

        </div>
        <div>
            <a href="{% url 'register' %}">
            <button class="nav-link rounded-5" id="register-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Регистрация</button></a>

        </div>


{% endblock %}