{% extends "base.html" %}



{% block content %}
    <h3>Регистрация пользователя</h3>
    <p>Пожалуйста заполните форму регистрации:</p>
    <form action="{% url 'register' %}" method="post">
        {{ user_form.non_field_errors }}

        {% csrf_token %}
         <div class="mb-3">
                {{ user_form.username.errors }}
                <label for="{{ form.title.id_for_label }}">Имя пользователя:</label>
                {{ user_form.username }}
            </div>
            <div class="mb-3">
                {{ user_form.password.errors }}
                <label for="{{ form.text.id_for_label }}">Пароль:</label>
                {{ user_form.password }}
            </div>
            <div class="mb-3">
                {{ user_form.2.errors }}
                <label for="{{ form.text.id_for_label }}">Пароль2:</label>
                {{ user_form.password2 }}
            </div>

                   <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}