
{% extends 'main/layout.html' %}
{% load static %}
{% block title %}О НАС{% endblock %}
{% block content %}
    <div class="features">
        <h1>О компании</h1>
        <h4>Московские рестораны «Кофемания» появились в столице в 2001 году</h4>
        <p>Для многих гостей Кофемания — неотъемлемая часть жизни вот уже на
            протяжении 20 лет. Наши гости ценят чуткий сервис, неизменное качество
            и вкус блюд, напитков и десертов.

            С момента открытия первого ресторана и по сей день комфорт и благополучие гостей
            – наша главная забота. В Кофемании удачно сочетаются атмосфера уютной
            кофейни и ресторана высокой кухни с одними из лучших десертов в городе.

            Мы всегда тщательно отбираем ингредиенты для наших блюд – самые сочные и спелые фрукты,
            свежие ароматные овощи, лучшее мясо и рыбу. У нас работает собственный колбасный
            и мясной цех, пекарня, мастерская по приготовлению пасты и пельменей, кондитерское
            ателье Cake Buro, цех по обжару кофейного зерна.

            Меню напитков – уникальная коллекция авторских рецептов фруктовых
            и овощных миксов, лимонадов, смузи, аналоги которым вы вряд ли найдёте в мире.
            Кофемания также известна своей кондитерской. Мы работаем в традиции французской школы,
            представляя десерты самого высокого уровня исполнения.

        </p>
        <img src="{%static 'main/img/about.png' %}" alt="about">

    </div>
    <div class="footer">
        <a href="{% url 'index' %}"><button class="btn btn-warning">На главную</button></a>
    </div>
{% endblock %}