

{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>
            «Кофемания» любима гостями за чуткое отношение и заботливый сервис.
            Виртуозное знание вкусов различных продуктов, опыт работы с разным оборудованием,
            регулярные зарубежные командировки и стажировки, постоянное общение шеф-кондитера
            и шеф-повара Кофемании с известными мировыми гуру гастрономии, стремление к совершенству
            позволяют создать уникальные рецепты блюд и напитков.

            Благодаря трём собственном Учебным центрам, команда «Кофемании» неоднократно приходила
            к победам и призовым местам на Российских и мировых чемпионатах, подтверждая свой
            профессионализм и знания.
        </p>
        <a href="{% url 'contacts' %}"><button class="btn btn-warning">Контакты</button></a>


    </div>
{% endblock %}

