{% extends "base.html" %}
{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2>Редактирование товара</h2>
           <div class="col-md-3">
    <form action="{% url 'products_edit' product.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}" class="form-label">Название:</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.text.errors }}
            <label for="{{ form.text.id_for_label }}" class="form-label">Описание:</label>
            {{ form.text }}
        </div>
        <div class="mb-3">
            {{ form.price.errors }}
            <label for="{{ form.price.id_for_label }}" class="form-label">Цена:</label>
            {{ form.price }}
        </div>
        <div class="mb-3">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_for_label }}" class="form-label">Количество:</label>
            {{ form.quantity }}
        </div>
        <input type="submit" value="Сохранить изменения">
    </form>
</div>
   {% endblock %}