<!-- templates/home.html -->
{% extends 'blog/base.html' %}

{% block content %}

    <div>
        <h3>Навигация</h3>
    <ul>
        <a href="#"><li><i class="fas fa-home"></i>  Добавить запись</li></a>
        <a href="{% url 'upload_photo' %}"><li><i class="fas fa-address-card"></i>  Добавить фото</li></a>
        <a href="#"><li><i class="fas fa-newspaper"></i> Редактировать профиль</li></a>
        <a href="#"><li><i class="fas fa-paper-plane"></i>  Администрирование</li></a>
        <a href="#"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>  #</button></li></a>

    </ul>
    </div>

{% endblock content %}