{% extends "base.html" %}

{% block content %}

    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation"><a href="{% url 'main' %}">
    <button class="nav-link rounded-5" id="news-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Главная</button></a>
  </li>
        <li class="nav-item" role="presentation"><a href="{% url 'news' %}">
    <button class="nav-link rounded-5" id="news-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Новости</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'about' %}">
    <button class="nav-link active rounded-5" id="obout-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">О нас</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'management' %}">
    <button class="nav-link rounded-5" id="management-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Руководство компании</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'branches' %}">
    <button class="nav-link rounded-5" id="branches-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Филиалы</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'contacts' %}">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Контакты</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'feedbacks' %}">
    <button class="nav-link rounded-5" id="feedbacks-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Обратная связь</button></a>
  </li>
</ul>
    <h1>Страница про нас</h1>
<div class="col-md-10 mx-auto">
    <div class="row">
        <div class="col-md-2">
            <h2>Колонка 1</h2>
        </div>
        <div class="col-md-10">
            <h2>Колонка 2</h2>

            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
            <div class="row">
                <div class="col-md-6">
                    <h2>колонка 3</h2>
                    <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                </div>
                <div class="col-md-6">
                    <h2>колонка 4</h2>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}