{% extends "base.html" %}

{% block content %}

    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation"><a href="{% url 'main' %}">
    <button class="nav-link rounded-5" id="news-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Главная</button></a>
  </li>
        <li class="nav-item" role="presentation"><a href="{% url 'news' %}">
    <button class="nav-link rounded-5" id="news-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Новости</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'about' %}">
    <button class="nav-link rounded-5" id="obout-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">О нас</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'management' %}">
    <button class="nav-link rounded-5" id="management-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Руководство компании</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'branches' %}">
    <button class="nav-link active rounded-5" id="branches-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Филиалы</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'contacts' %}">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Контакты</button></a>
  </li>
    <li class="nav-item" role="presentation"><a href="{% url 'feedbacks' %}">
    <button class="nav-link rounded-5" id="feedbacks-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Обратная связь</button></a>
  </li>
</ul>
    <h1>Список филиалов</h1>
    <div class="col-md-10 mx-auto">
    <div class="row">
        <div class="col-md-2">
            <h2>Страны</h2>
            <p class="d-inline-flex gap-1">
            <ul>
                {% for j in countries %}

                    <li><a href="{% url 'branches_country' j.id %}" class="btn {% if active_country == j %} btn-primary {% endif %}" role="button" data-bs-toggle="button">{{ j.title }}</a></li>
                {% endfor %}

            </ul>
            </p>
        </div>
        <div class="col-md-10">
            <h2>Филиалы</h2>
            <p class="d-inline-flex gap-1">
            <ul>
                {% for i in branches %}
                    <li><a href="{% url 'branches_detail' i.id %}" class="btn" role="button" data-bs-toggle="button">{{ i.title }}</a></li>
                    <p>{{ i.get_short_text }}</p>
                {% endfor %}
            </ul>
            </p>
        </div>


{% endblock %}