{% extends "base.html" %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <h2>Форма редактирования записей клиента</h2>
        <div class="col-md-3">
            <form action="{% url 'client' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя:</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    {{ form.last_name.errors }}
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия:</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    {{ form.phone.errors }}
                    <label for="{{ form.phone.id_for_label }}" class="form-label">Телефон:</label>
                    {{ form.phone }}
                </div>
                <div class="mb-3">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                    {{ form.email }}
                </div>
                <input type="submit" value="Изменить данные">
            </form>
        </div>

    </main>
{% endblock %}
